@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');


*
{
  box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  background-color: white;
  color: black;
  
  justify-content: center;
  
  
  
}


.dark-mode {
  /* background-color: #000 !important; */
  color: white;
  border-color: white;
}

body.dark-mode
{
  background-color: #000;
}

.dark-mode .content
{ 
  border-color: white;
  color: white;
  background-color: #000;
}

.dark-mode #footer
{
  border-color: white;
  background-color: #000;
}

.dark-mode .content h2
{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: ;
    color: #fff;
    text-transform: uppercase;
    filter: blur(0.5px);
    font-weight: 100;
    text-shadow: 
    0 0 10px rgba(255, 255, 255, 1),
    0 0 20px rgba(255, 255, 255, 1),
    0 0 40px rgba(255, 255, 255, 1),
    0 0 80px rgba(255, 255, 255, 1),
    0 0 120px rgba(255, 255, 255, 1);
}

.dark-mode p, .dark-mode #skillsList
{
  color: white;
  filter: blur(0px);
    font-weight: 100;
    text-shadow: 
    0 0 1px rgba(255, 255, 255, 1),
    0 0 2px rgba(255, 255, 255, 1),
    0 0 4px rgba(255, 255, 255, 1),
    0 0 8px rgba(255, 255, 255, 1),
    0 0 16px rgba(255, 255, 255, 1);
}



.content h2
{
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    text-align: ;
    text-transform: uppercase;
    filter: blur(0);
    font-weight: 400;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 27px;
  bottom: 10px;
  margin-left: 10px;
  margin-top: 200px;
}



.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.wrapper {
  margin-left: auto;
  margin-right: auto;
  text-align: left;

}



#header {
  margin-top: 0;
  height: 100px;
  text-align: center;
  background-color: #F5F4F4;


  color: white;
  box-shadow: 5px 5px 5px #888888;
  border-bottom: 1px black;
}

#header h1 {
  padding-top: 30px;
  color: black;
}

.error {
  width: 92%;
  margin: 0px auto;
  padding: 10px;
  border: 1px solid #a94442;
  color: #a94442;
  background: #f2dede;
  border-radius: 5px;
  text-align: left;
}

.success {
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  margin-bottom: 20px;
  margin-top: 20px;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}



.button {
  background-color: #0154DB;
  color: white;
  padding: 10px;
  border-radius: 12px;
  border-width: 0px;
  outline: none;
  text-decoration: none;
}

.button:hover {
  background-color: #013D9E;
}

.button.active {
  background-color: #013D9E;
  color: white;
}

header nav.topnav 
{
  z-index: 1;
  overflow: hidden;
  background-color: #252525;
  border: 1px solid #252525;
  padding-left: 160px;
  margin-left: 160px;
  margin: 0 auto;
  top: 0;
  height: 60px;
  width: 100%;
  font-size: 12pt;
  /* font-weight: bold; */
  box-shadow: ;
  display: flex;
  justify-content: space-between;
  align-items: center;


}

header nav.topnav ul {
  margin: 0px;
}

header nav.topnav li {
  text-decoration: none;
}

.nav-links {
  list-style: none;
  justify-content: flex-start;
}

.nav-links li {
  display: inline-block;
  padding: 0px 10px;
}

header nav.topnav a {
  /* float: left; */
  text-align: center;
  /* justify-content: flex-start; */
  color: #818181;
  border-radius: 12px;
  /* border: 1px solid #008CBA; */
  padding: ;
  padding-top: 0px;
  text-decoration: none;
  font-size: 17px;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 15px;
  width: 100px;
}

header nav.topnav a:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #fff;
}

header nav.topnav a.active {
  color: #fff;
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #fff,
  0 0 80px #fff,
  0 0 100px #fff,
  0 0 100px #fff;
}

header nav.topnav a.active:hover {
  color: white;
}

header .topnav-centered {
  margin-top: 0px;
  margin-left: 0px;
  float: none;
  
  position: absolute;
  height: 10px;
  width: 10%;

  
  right: 40%;
  
  /* transform: translate(50%, 50%); */
}

header nav.topnav .nav-profile {
justify-content: flex-end;
color: black;
padding-right: 20px;
}

header nav.topnav .nav-profile button {
  background-color: #252525;
  color: #818181;
  border-radius: 12px;
  /* border: 1px solid #008CBA; */
  /* padding: 10px 10px; */
  text-decoration: none;
  font-size: 17px;
  margin-top: 15px;
  margin-left: 0px;
  margin-right: 10px;
  margin-bottom: 15px;

}

header nav.topnav .nav-profile button:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #fff;
}

@media screen and (max-width: 600px) {
  header nav.topnav .search-container {
    float: none;
  }
  header nav.topnav a {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  header nav.topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

header nav.topnav .search-container {
  float: none;
  position: absolute;
  padding-left: 160px;
  padding-top: 40px;
  left: 20%;
  transform: translate(-50%, -50%);
}

header nav.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}



.notification {
  background-color: #555;
  color: white;
  text-decoration: none;
  padding: 15px 26px;
  position: relative;
  display: inline-block;
  border-radius: 2px;
}

.notification:hover {
  background: red;
}

.notification .badge {
  position: absolute;
  top: -5px;
  right: -5px;
  padding: 2.5px 5px;
  border-radius: 50%;
  background: red;
  color: white;
}

.dropbtn {
  border: none;
  outline: none;
  font-family: inherit;
}

.navbar ul {
  margin: 0 auto;
}

.dropdown-content {
  display: none;
  position: fixed;
  background-color: #252525;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  right: 0px; /* prevents from going offscreen */
}

.dropdown-content a {
  float: none;
  color: #818181;
  background-color: #252525;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  align-items: center;
  justify-content: center;
}

.dropdown-content a:hover {
  color: #fff;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 120px #fff,
    0 0 160px #fff;
}

.show {display:block;}

/* Chat containers */
.containerChat {
  border: 2px solid #dedede;
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 10px;
  margin: 10px 0;
}





/* Darker chat container */
.darker {
  border-color: #ccc;
  background-color: #ddd;
}

/* Clear floats */
.containerChat::after {
  content: "";
  clear: both;
  display: table;
}

/* Style images */
.containerChat img {
  float: left;
  max-width: 60px;
  width: 100%;
  margin-right: 20px;
  border-radius: 50%;
}

/* Style the right image */
.containerChat img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

/* Style time text */
.time-right {
  float: right;
  color: #aaa;
}

/* Style time text */
.time-left {
  float: left;
  color: #999;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  overflow-y: hidden;
}

.sidenav h2 {
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  text-align: center;
  color: white;
}

.sidenav a {
  padding: 10px 8px 6px 16px;
  text-decoration: none;
  font-size: 22px;
  color: #818181;
  display: block;

}

.sidenav a:hover {
  color: #fff;
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #fff,
  0 0 80px #fff,
  0 0 120px #fff,
  0 0 160px #fff;

}

.sidenav a.active {
  color: #fff;
  text-shadow: 0 0 10px #fff,
  0 0 20px #fff,
  0 0 40px #fff,
  0 0 80px #fff,
  0 0 120px #fff,
  0 0 160px #fff;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.lowerSideNav {
  margin-top: 20px;
}

.content {
  align-items: center;
  justify-content: center;
  width: 100% - 160px;
  min-width: 600px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 190px; /*160 + 30 */
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid black;
  color: black;
  /* background-color: #F7F7F7; disabled because of darkmode*/
  /* height: 1500px; */
}

main {
  padding-top: 20px;
  z-index: 4;
}

/* rainbow button */
a.rainbowButton {
  display: inline-flex;
  position: relative;
    width: 105px;
    height: 50px;
    line-height: 48px;
    background: #000;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 4px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    

    -webkit-box-reflect: below 1px linear-gradient(transparent, #0004);

}

a.rainbowButton::before
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, 
    #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    transition: 0.5s;
    animation: animate 20s linear infinite;
}

a.rainbowButton::after
{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #fb0094, #00f, #0f0, 
    #ff0, #f00, #fb0094, #00f, #0f0, #ff0, #f00);
    background-size: 400%;
    opacity: 0;
    filter: blur(20px);
    transition: 0.5s;
    animation: animate 20s linear infinite;
    
}

a.rainbowButton:hover::before,
a.rainbowButton:hover::after
{
    opacity: 1;
}
@keyframes animate
{
    0%
    {
        background-position: 0 0;
    }
    50%
    {
        background-position: 300% 0;
    }
    100%
    {
        background-position: 0 0;
    }
}


a.rainbowButton span
{
  position: absolute;
  
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  text-align: center;
  background: #0c0c0c;
  color: rgba(255, 255, 255, 0.2);
  transition: 0.5s;
  z-index: 3;
}

 a.rainbowButton:hover span
{
  color: rgba(255, 255, 255, 1);
}

a.rainbowButton span::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: rgba(255, 255, 255, 0.1);
}

/* neon button */
a.neonButton {
  display: inline-flex;
  position: relative;
  margin-left: 0px;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  justify-content: center;  
  height: 70px;
  width: 130px;
  
  text-decoration: none;
}

a.neonButton:hover
{
  color: #255784;
  background: #2196f3;
  box-shadow: 
  0 0 10px #2196f3,
  0 0 40px #2196f3,
  0 0 80px #2196f3;
  transition-delay: 1s;
}

a.neonButton span
{
  position: absolute;
  display: block;

}

a.neonButton span:nth-child(1)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

a.neonButton:hover span:nth-child(1)
{
  left: 100%;
  transition: 1s;
}

a.neonButton span:nth-child(3)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

a.neonButton:hover span:nth-child(3)
{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

a.neonButton span:nth-child(2)
{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

a.neonButton:hover span:nth-child(2)
{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

a.neonButton span:nth-child(4)
{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

a.neonButton:hover span:nth-child(4)
{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


/* makes everything blue tinted */
/* section::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00adff;
    z-index: 1;
    mix-blend-mode: color;

} */


p
{
    position: relative;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
    width: 100%;
    text-align: ;
    font-size: 6em;
    font-weight: 400;
   
}

p
{
    color: black;
    display: block;
    font-size: 1em;
    
}

#footer {
  margin: 5px;
  margin-left: 190px; /* 160px + 30 */
  margin-right: 30px;
  padding-top: 20px;
  border: 1px solid black;
  /* background-color: #CCCCFF; */
  text-align: center;
  
  height: 130px;
  width: 100% - 160px;
  min-width: 600px;
  min-height: 150px;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  padding: 15px 30px;
  z-index: 99;
  font-size: 18px;
  overflow: hidden;
  transition: 0.2s;
  border: none;
  outline: none;
  /* background-color: red; */
  /* color: white; */
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;

  /* display: inline-flex;
  position: absolute;
  margin-left: 0px;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  justify-content: center;  
  height: 70px;
  width: 130px;
  z-index: 99;
  text-decoration: none; */

  /* position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
  height: 70px;
  width: 120px;;
  text-decoration: none; */
}

#backToTopBtn:hover {
  /* background-color: #555; */

  color: white;
  background: #2196f3;
  box-shadow: 
  0 0 10px #2196f3,
  0 0 40px #2196f3,
  0 0 80px #2196f3;
  transition-delay: 1s;
}

#backToTopBtn span
{
  position: absolute;
  display: block;

}

#backToTopBtn span:nth-child(1)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

#backToTopBtn:hover span:nth-child(1)
{
  left: 100%;
  transition: 1s;
}

#backToTopBtn span:nth-child(3)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

#backToTopBtn:hover span:nth-child(3)
{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}

#backToTopBtn span:nth-child(2)
{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

#backToTopBtn:hover span:nth-child(2)
{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

#backToTopBtn span:nth-child(4)
{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #2196f3);
}

#backToTopBtn:hover span:nth-child(4)
{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}


.accountScreens {

  min-width: 500px;
  width: 80%;
  /* height: 500px; */
  margin: auto; /* centers */
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 40px;
  padding-bottom: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

fieldset {
  display: block;
  border-width: 2px;
  border-style: groove;
  align-items: center;
  justify-content: center;
}

form input[type=text], form input[type=email], form input[type=password]{
  margin-left: 5px;
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

form textarea#subject{
  width: 50%;
}

.form input:required {
  /* background-color: #ffcccc; */
}
.form input:invalid {
  /* border-color: red; */
  /* border-width: 1px; */
}

/* Style the tab */
.tab {
  width: 100%;
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100% -10px;
  padding-left: 10px;
  padding-bottom: 10px;
  padding-right: 0px;
}

.profilecard {
  margin-left: 160px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  border-style: solid;
  float: none; 
  position: absolute;
  padding-left: 0%;
  padding-top: 40px;
  left: 60%;
  transform: translate(-50%);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.containerProfile {
  padding: 2px 16px;
}


#quotes {
  margin-bottom: 50px;
  margin-top: 20px;
}

#quotes td, #quotes th {
  border: 1px solid #ddd;
  padding: 8px;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
  z-index: 6; /* to use z-index need position */
}

#quotes tr:nth-child(even){
  /* background-color: #f2f2f2; */
}

#quotes tr:hover {
  color: #00adff;
    text-shadow: 0 0 10px #00adff,
    0 0 20px #00adff,
    0 0 40px #00adff,
    0 0 80px #00adff,
    0 0 120px #00adff,
    0 0 160px #00adff;
}

#quotes td:hover {
  transform: scale(1.2);
}

#quotes th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.quoteBox
{
  width: 1200px;
  min-width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2;
}

.quoteBox .box {
  position: relative;
  width: 360px;
  height: 400px;
  background: #ccc;
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: -10px 25px 50px rgba(0, 0, 0, 0.2);
}

.quoteBox .box:hover{
  box-shadow: -20px 50px 100px rgba(0, 0, 0, 0.5);
}

.quoteBox .bg 
{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  width: 100%;
  height: 100%;
}

.quoteBox .box.box1:hover ~ .bg,
.quoteBox .box.box1:hover
{
  opacity: 1;
  background: linear-gradient(#03A9F4, #E91E63);
  
}

.profile-card {
  width: 400px;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
  margin: auto;
}

.card-header {
  background: #2c3a47;
  padding: 60px 40px;
}

.pic {
  display: inline-block;
  padding: 8px;
  background: linear-gradient(130deg, #74b9ff, #e66767);
  margin: auto;
  border-radius: 50%;
  animation: animated-gradient 2x linear infinite;
}

@keyframes animated-gradient {
  25% {
    background-position: left bottom;
  }
  50% {
    background-position: right bottom;
  }
  75% {
    background-position: right top;
  }
  100% {
    background-position: left top;
  }
}

.pic img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

.desc {
  font-size: 18px;
  color: #e66767;
}

.sm {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.sm a {
  color: #f2f2f2;
  width: 56px;
  font-size: 22px;
  transition: linear;
  text-decoration: none;
}

.sm a:hover {
  color: #e66767;
}

.card-footer {
  background: #f4f4f4;
  padding: 60px 10px;
}

.numbers {
  display: flex;
  align-items: center;
}

.item {
  flex: 1;
  text-transform: uppercase;
  font-size: 13px;
  color: #e66767;
}

.item span {
  display: block;
  color: #2c3a47;
  font-size: 30px;
}

.border {
  width: 1px;
  height: 30px;
  background: #bbb;
}

.resetStyles {
  all: initial;
  
}